@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: oklch(0.984 0.004 258);
    --foreground: oklch(0.28 0.06 265);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.28 0.06 265);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.28 0.06 265);
    --primary: oklch(0.541 0.281 293.009);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.951 0.026 251.982);
    --secondary-foreground: oklch(0.35 0.09 260);
    --muted: oklch(0.951 0.026 251.982);
    --muted-foreground: oklch(0.52 0.05 260);
    --accent: oklch(0.951 0.026 251.982);
    --accent-foreground: oklch(0.35 0.09 260);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.927 0.013 253.19);
    --input: oklch(0.927 0.013 253.19);
    --ring: oklch(0.541 0.281 293.009);
    --chart-1: oklch(0.541 0.281 293.009);
    --chart-2: oklch(0.62 0.2 270);
    --chart-3: oklch(0.44 0.15 255);
    --chart-4: oklch(0.72 0.15 300);
    --chart-5: oklch(0.81 0.1 320);
    --radius: 0.5rem;
    --sidebar: oklch(0.984 0.004 258);
    --sidebar-foreground: oklch(0.28 0.06 265);
    --sidebar-primary: oklch(0.541 0.281 293.009);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --sidebar-accent: oklch(0.951 0.026 251.982);
    --sidebar-accent-foreground: oklch(0.35 0.09 260);
    --sidebar-border: oklch(0.927 0.013 253.19);
    --sidebar-ring: oklch(0.541 0.281 293.009);
  }
  .dark {
    --background: oklch(0.23 0.05 263);
    --foreground: oklch(0.945 0.008 258);
    --card: oklch(0.28 0.055 262);
    --card-foreground: oklch(0.945 0.008 258);
    --popover: oklch(0.28 0.055 262);
    --popover-foreground: oklch(0.945 0.008 258);
    --primary: oklch(0.652 0.223 292.717);
    --primary-foreground: oklch(0.2 0.09 292);
    --secondary: oklch(0.33 0.06 262);
    --secondary-foreground: oklch(0.945 0.008 258);
    --muted: oklch(0.33 0.06 262);
    --muted-foreground: oklch(0.7 0.03 258);
    --accent: oklch(0.33 0.06 262);
    --accent-foreground: oklch(0.945 0.008 258);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.6 0.23 293);
    --chart-1: oklch(0.652 0.223 292.717);
    --chart-2: oklch(0.61 0.2 265);
    --chart-3: oklch(0.48 0.17 255);
    --chart-4: oklch(0.74 0.16 302);
    --chart-5: oklch(0.82 0.1 320);
    --sidebar: oklch(0.25 0.05 263);
    --sidebar-foreground: oklch(0.945 0.008 258);
    --sidebar-primary: oklch(0.652 0.223 292.717);
    --sidebar-primary-foreground: oklch(0.2 0.09 292);
    --sidebar-accent: oklch(0.33 0.06 262);
    --sidebar-accent-foreground: oklch(0.945 0.008 258);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.6 0.23 293);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
